@page "/"
@implements IDisposable
@inject SpaNavigationState Navigation

<PageTitle>4C-ai装备识别工具</PageTitle>

<div class="spa-screen">
    @switch (Navigation.CurrentView)
    {
        case AppView.Intake:
            <IntakeSection />
            break;
        case AppView.Detect:
            <DetectSection />
            break;
        case AppView.Results:
            <ResultsSection />
            break;
        default:
            <OverviewSection />
            break;
    }
</div>

<style>
    .spa-screen {
        min-height: calc(100vh - 9rem);
        display: flex;
        flex-direction: column;
    }

    .spa-screen > * {
        flex: 1 1 auto;
    }
</style>

@code {
    protected override void OnInitialized()
    {
        Navigation.Changed += HandleNavigationChanged;
    }

    private void HandleNavigationChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        Navigation.Changed -= HandleNavigationChanged;
    }
}
